<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Backpack Eclipse"
            id="bpeclipse_plugin">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="bpeclipse_plugin"
            class="org.bpeclipse.views.SampleView"
            id="org.bpeclipse.views.SampleView">
      </view>
      <view
            category="bpeclipse_plugin"
            class="org.bpeclipse.views.BPPagesView"
            icon="icons/sample.gif"
            id="org.bpeclipse.views.BPPagesView"
            name="Backpack Pages"/>
   </extension>

</plugin>
